@charset "utf-8";

body {
	text-align: center;
	color: #666666;
	background-image: url(image/back.png);
}
#contents {
	margin-right: 50px;
	margin-left: 50px;
}
h1 {
	font-size: 36px;
	color: #943434;
	font-family: Georgia, "Times New Roman", Times, serif;
	letter-spacing: 15px;
}
table {
	font-size: 14px;
	background-color: #ffffff;
	border: solid 2px #71b017;
	border-collapse: collapse;
	margin-bottom: 20px;
}
caption {
	font-size: 18px;
	color: #ffffff;
	background-color: #71b017;
	font-weight: bold;
	padding-top:5px;
	padding-bottom: 5px;
}
th {
	vertical-align: top;
}
th, td {
	padding: 10px;
	text-align: left;
	border: solid 1px #cccc66;
}
#gotop {
	font-size: 14px;
	border-top: dotted #aca691 4px;
	padding-top: 15px;
	margin-bottom: 20px;
}
#gotop a {
	padding-left: 15px;
	background: url(image/yaji.png) no-repeat left;
}
a {
	text-decoration: none;
	font-weight: bold;
}
a:link {
	color: #943434;
}
a:visited {
	color: #33ff66;
}
a:active {
	color: #ff6699;
}
a:hover {
	color: #99ff33;
}