@charset "utf-8";

body {
	text-align: center;
	color: #666666;
	background-image: url(image/back.png);
}
#contents {
	margin-right: 50px;
	margin-left: 50px;
}
h1 {
	font-size: 36px;
	color: #943434;
	font-family: Georgia, "Times New Roman", Times, serif;
	letter-spacing: 15px;
}
#select {
	background-color: #aca691;
	padding: 5px;
	font-size: 16px;
}
h2 {
	font-size: 18px;
	color: #ffffff;
	background-color: #71b017;
	margin-bottom: 0;
	padding-top:5px;
	padding-bottom: 5px;
}
form {
	font-size: 14px;
	text-align:left;
	background-color: #ffffff;
	line-height: 150%;
	margin-top: 0;
	margin-bottom:15px;
	padding: 20px;
}
img.photo {
	float: left;
	margin-right: 20px;
	margin-bottom: 10px;
}
textarea{
	margin-bottom: 10px;
}
#gotop {
	font-size: 14px;
	border-top: dotted #aca691 4px;
	padding-top: 15px;
	margin-bottom: 20px;
}
#gotop a{
	padding-left: 15px;
	background:url(image/yaji.png) no-repeat left;
}
a {
	text-decoration: none;
	font-weight: bold;
}
a:link {
	color: #943434;
}
a:visited {
	color: #33ff66;
}
a:hover {
	color: #99ff33;
}
a:active {
	color: #ff6699;
}
