@charset "utf-8";
body{
	color: #666666;
	text-align: center;
	background-color: #f4f4d6;
	margin:0;
	padding:0;
}
#contents{
	width: 430px;
	margin: auto;
}

h1{
	font-size: 50px;
	color: #ffffff;
	font-family: Georia, "Times New Roman",Times, serif;
	background-color: #5c8f13;
	margin:0 0 30px 0;
	height: 90px;
	padding: 0 50px;
}
h2{
	font-size: 20px;
	color: #ffffff;
	font-family: "Courier New",Courier, monospace;
	background-color: #ff9900;
	margin-bottom:0;
}
p{
	text-align: left;
	border-bottom: dotted #ff9900 4px;
	border-left: dotted #ff9900 4px;
	border-right: dotted #ff9900 4px;
	margin-top:0;
	padding: 15px;
}
p#copyright{
	text-align: center;
}
span#osteria{
	font-weight:bold;
}
span.italia{
	font-style: italic;
}

#nav{
	margin-top: 20px;
}
#nav a{
	text-decoration: none;
	font-weight: bold;
}
#nav a:link{
	color:#943434;
}
#nav a:visited{
	color:#33ff66;
}
#nav a:hover{
	color:#99ff66;
}
#nav a:active{
	color:#ff6699;
}